.App {
  text-align: center;
}

.Screen1 {
  float: left;
  width: 50%;
  height: 100%;
 
}

.Screen2 {
  float: left;
  width: 50%;
  height: 100%;
  
}

.button{

  margin-top: 10%;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
