.App {
  text-align: center;
}

.Screen1,.Screen2 {
  float: left;
  width: 50%;
  height: 100%;
 
}

.button{

  margin-top: 10%;
}

.waiters, .kitchen{
  margin: 1rem;
}

.navbar{
  background-color:rgb(44, 42, 42); 
  color:white;
}

